[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/chainlink"]
	path = contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "contracts/lib/openzeppelin-"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-

